name: toplevel build
on: push

jobs:
  config:
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - id: set-matrix
        uses: actions/github-script@v6
        with:
          script: |
            return {
              "os": "ubuntu-latest",
              "action": ["ok.yml", "fail.yml"],
            }

  build:
    needs: config
    strategy:
      matrix: ${{ fromJSON(needs.config.outputs.matrix) }}

    runs-on: ${{ matrix.os }}
    steps:
      - uses: ./.github/actions/${{ needs.config.outputs.matrix }}