name: toplevel build
on: push

jobs:
  config:
    runs-on: ubuntu-latest

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - id: set-matrix
        uses: actions/github-script@v6
        with:
          script: |
            return {"include": {
              {"workflow": "ok"},
              {"workflow": "fail"},
            }}

  build:
    needs: config
    strategy:
      matrix: ${{ fromJSON(needs.config.outputs.matrix) }}
    uses: ./.github/workflows/${{ matrix.workflow }}.yml